---
import BaseButton from '../../components/buttons/BaseButton.astro';
import BaseText from '../../components/text/BaseText.astro';
import { TranslationService } from '../../i18n/utils';
import Layout from '../../layout/layout.astro';
export function getStaticPaths() {
  return TranslationService.languagesArray
}

const { lang } = Astro.params;
const t = TranslationService.useTranslations(lang);
---

    <Layout>
        <Fragment slot='head'>
            <title>{t('pages.index.title')}</title>
            <meta name="description" content={t('pages.index.description')} />
        </Fragment>

        <BaseText Type="h1" class="text-3xl font-bold text-gray-900 dark:text-white">
            {t('pages.index.title')}
        </BaseText>

        <BaseText Type="p" class="text-gray-700 dark:text-gray-300">
            {t('pages.index.description')}
        </BaseText>

        <BaseButton isSkeleton={true} type="button">
            {t('pages.index.button')}
        </BaseButton>
        
    </Layout>
