---

import BaseCard from '@/components/card/BaseCard.astro';
import BaseButton from '../../components/buttons/BaseButton.astro';
import BaseText from '../../components/text/BaseText.astro';
import { TranslationService } from '../../i18n/utils';
import Layout from '../../layout/layout.astro';
import BaseInput from '@/components/inputs/BaseInput.astro';
import BaseDropdown from '@/components/dropdown/BaseDropdown.astro';
import TranslateDropdown from '@/components/dropdown/TranslateDropdown.astro';
import BaseForm from '@/components/form/BaseForm.astro';

// Genera anche la home statica per ogni lingua
export function getStaticPaths() {
  return TranslationService.languagesArray.map(lang => ({ params: { lang: lang.params.lang } }));
}

const { lang } = Astro.params;
const t = TranslationService.useTranslations(lang);
---

    <Layout>
        <Fragment slot='head'>
            <title>{t('pages.index.title')}</title>
            <meta name="description" content={t('pages.index.description')} />
        </Fragment>

        <BaseText Type="h1">
            {t('pages.index.title')}
        </BaseText>

        <BaseText Type="p">
            {t('pages.index.description')}
        </BaseText>


        <!-- Dropdown semplice con slot content -->
        <BaseDropdown sortBy='value-desc' id="simple-dropdown" placeholder="sdfsfd">
            asdf
            aas
            <button value="aaaaaaa" disabled>textSpan</button>
            adfddf
            <a href="./about" data-disabled><img src="https://th.bing.com/th/id/R.c96b7a293ea56b1d3d60c84fe890584a?rik=ZOE8QaggWDa4Cg&pid=ImgRaw&r=0" />Cerca</a>
        </BaseDropdown>



    </Layout>
